/* custom.css */
body, html {
    margin: 0;
    padding: 0;

    /* This ensures the background image will cover the entire screen, and avoids scrolling */
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    /* This is a linear gradient that goes from #2569A3 to black from the top left corner downwards */
    background: linear-gradient(135deg, #2569A3, #000); 
    color: white;
    box-sizing: border-box;
    font-family: 'Charcoal', sans-serif; /* Default font will set to sans-serif if Charcoal isn't available */
}

/* Styling for the top title bar */
.title-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 20px;
    text-align: left; 
}

/* Styling for the title */
.dashboard-header {
    margin-left: 13px;
    color: black; 
    font-size: 2.5em;
}

/* Styling for the map and graph container */
.dashboard-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    height: 300px; 
}


/* Generic styling for the cards */
.card-effect {
    width: 40%; /* Adjust based on preference and layout */
    height: 300px;
    padding: 20px;
    margin: auto; /* Centering the card */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* Optional: for rounded corners */
    background-color: #cccccc; /* Greyish background */
    display: flex;
    justify-content: center;
    align-items: center; /* Centering the graph container */
}

.card-effect:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@media (max-width: 768px) { /* Example breakpoint for smaller screens */
    .card-effect {
        width: 98%; /* Takes more space on smaller screens */
        height: auto; /* Adjust height for smaller screens */
    }
    .graph-container {
        width: 95%; /* Optionally adjust for smaller screens */
        height: 80%; /* Adjust based on your content */
    }
}


.graph-container {
    flex: 1;
    display: flex;
    justify-content: space-between; /* This ensures the graphs are spaced evenly */
}

.graph-item {
    flex-basis: 33%; 
    padding: 10px;
    box-sizing: border-box;
    height: 300px;
}

.map-container {
    width: 80%;
    height: 500px; /* Adjust based on your preference */
    margin: auto; /* Center the map container */
}
